# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpaceExe.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Javo\Desktop\TP1IA2\SpaceExe\.idea\.idea.SpaceExe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
